.greeting {
	padding-top: 10px;
	text-transform: uppercase;
	@include fw_fz_lh(400, 128px, 1);
	font-family: HelveticaNeueCyr, serif;

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&>*:not(:last-child) {
			margin-right: 15px;
		}
	}

	.btn {
		text-align: center;
		font-size: 32px;
		height: 100px;
		margin: 10px 0;

		img {
			width: 20px;
		}
	}

	span {
		display: block;
	}

	.ibg {
		flex: 1 1 auto;
	}

	.ibg>img {
		object-position: center;
		border-radius: 8px;
		min-width: 200px;
		height: 100px;
		margin: 10px 0 0;
	}

	.greeting__image2 img {
		object-position: 50% 45%;
	}

	.greeting__image3 img {
		object-position: 50% 0%;
	}

	.greeting__image4 img {
		object-position: 50% 62%;
	}

	.greeting__image5{
		display: none;

		img{
			min-width: 100px;
		}
	}
}

/* ======================================================================= */

@media(max-width: 1240px) {
	.greeting {
		.container {
			justify-content: space space-between;
			margin: 0 auto;
		}

		.greeting__image5{
			display: block;
		}
	}
}

@media(max-width: 768px) {
	.greeting {
		font-size: 60px;

		.container {
			flex-direction: column;
			text-align: center;

			&>*:not(:last-child) {
				margin-right: 0;
			}
		}

		.ibg>img {
			height: 80px;
			margin: 5px 0 0;
		}

		.btn {
			margin: 5px 0 0;
			font-size: 20px;
			height: 45px;

			img {
				width: 15px;
			}
		}
	}
}