body{
	font-family: Inter, sans-serif;
	//overflow-x: hidden;
}

.container {
	width: 89%;
	max-width: 1440px;
	margin: 0 auto;
}

/* ======================================================================= */

.ibg{
	position: relative;
}

.ibg img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}

/* ======================================================================= */

.btn{
	@include fw_fz_lh(400,16px,150%);
	text-transform: uppercase;
	background: black;
	border-radius: 8px; 
	padding: 8px 16px;
	cursor: pointer;
	color: $white;

	&-wrapper{
		p{
			display: inline;
		}
	}
	
	img {
		width: 10px;
		margin-left: 10px;
	}

	&-shown{
		display: block;
		flex: 1 1 auto;
	}
}